##### 1. Importing Pandas, the library we will be using in this tutorial

In [2]:
import pandas as pd

##### 2. Reading data under different extensions

* From csv

In [3]:
df = pd.read_csv('./online_shoppers.csv')

In [5]:
# Let's use head() to check the top 3 rows of the data
df.head(3)

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.000000,0,0.000000,6,171,0.0000,0.020,0.0,0.0,Dec,2,2,3,2,Returning_Visitor,False,False
1,11,232.009453,6,274.534908,206,8064,0.0085,0.019,3.4,0.0,Feb,1,2,1,3,Returning_Visitor,False,True
2,0,0.000000,0,0.000000,27,1029,0.0000,0.009,0.0,0.0,Nov,2,2,7,2,Returning_Visitor,False,False

* From other file types

|File type              |Pandas Function|
|--------------         |:-------------:|
|excel                  |pd.read_excel()|
|hdf                    |pd.read_hdf()  |
|json                   |pd.read_json() |
|sql                    |pd.read_sql()  |
|...                    |               |

##### 3. Quick data exploration

* Data types
<div class='alert-success alertsuccess'>
<p>Used to quickly check the types of data in the dataframe</p>
</div>

In [6]:
df.dtypes

Administrative               int64
Administrative_Duration    float64
Informational                int64
Informational_Duration     float64
ProductRelated               int64
ProductRelated_Duration      int64
BounceRates                float64
ExitRates                  float64
PageValues                 float64
SpecialDay                 float64
Month                       object
OperatingSystems             int64
Browser                      int64
Region                       int64
TrafficType                  int64
VisitorType                 object
Weekend                       bool
Revenue                       bool
dtype: object

* Describe
<div class='alert-success alertsuccess'>
<p>Used to quickly get the statistics of the dataframe</p>
</div>

In [7]:
df.describe()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,OperatingSystems,Browser,Region,TrafficType
count,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.00000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000
mean,3.324412,103.087362,0.587916,45.201377,34.344931,1361.09927,0.024095,0.045170,5.623058,0.069002,2.162855,2.416869,3.079481,4.059530
std,5.338629,215.123152,1.425501,166.154196,50.354704,2307.16313,0.050500,0.050037,17.368645,0.208337,0.916189,1.759884,2.439205,4.103281
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000
25%,0.000000,0.000000,0.000000,0.000000,7.000000,189.00000,0.000000,0.015000,0.000000,0.000000,2.000000,2.000000,1.000000,2.000000
50%,1.000000,15.714109,0.000000,0.000000,18.000000,656.50000,0.004400,0.027000,0.000000,0.000000,2.000000,2.000000,2.000000,2.000000
75%,4.000000,118.881631,0.000000,0.000000,40.000000,1571.00000,0.019100,0.050000,0.000000,0.000000,3.000000,2.000000,4.000000,4.000000
max,24.000000,2152.047318,12.000000,2037.449693,500.000000,23837.00000,0.200000,0.200000,258.200000,1.000000,8.000000,13.000000,9.000000,20.000000

In [8]:
# we can use include argument to specify that we want statistics for non numerical variables to.
df.describe(include='all')

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
count,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.00000,12330.000000,12330.000000,12330.000000,12330.000000,12330,12330.000000,12330.000000,12330.000000,12330.000000,12330,12330,12330
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,NaN,3,2,2
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,May,NaN,NaN,NaN,NaN,Returning_Visitor,False,False
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3325,NaN,NaN,NaN,NaN,10825,9595,10428
mean,3.324412,103.087362,0.587916,45.201377,34.344931,1361.09927,0.024095,0.045170,5.623058,0.069002,NaN,2.162855,2.416869,3.079481,4.059530,NaN,NaN,NaN
std,5.338629,215.123152,1.425501,166.154196,50.354704,2307.16313,0.050500,0.050037,17.368645,0.208337,NaN,0.916189,1.759884,2.439205,4.103281,NaN,NaN,NaN
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,NaN,1.000000,1.000000,1.000000,1.000000,NaN,NaN,NaN
25%,0.000000,0.000000,0.000000,0.000000,7.000000,189.00000,0.000000,0.015000,0.000000,0.000000,NaN,2.000000,2.000000,1.000000,2.000000,NaN,NaN,NaN
50%,1.000000,15.714109,0.000000,0.000000,18.000000,656.50000,0.004400,0.027000,0.000000,0.000000,NaN,2.000000,2.000000,2.000000,2.000000,NaN,NaN,NaN
75%,4.000000,118.881631,0.000000,0.000000,40.000000,1571.00000,0.019100,0.050000,0.000000,0.000000,NaN,3.000000,2.000000,4.000000,4.000000,NaN,NaN,NaN
max,24.000000,2152.047318,12.000000,2037.449693,500.000000,23837.00000,0.200000,0.200000,258.200000,1.000000,NaN,8.000000,13.000000,9.000000,20.000000,NaN,NaN,NaN

* Info
<div class='alert-success alertsuccess'>
<p>Used to quickly get a summary of the dataframe</p>
</div>

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12330 entries, 0 to 12329
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Administrative           12330 non-null  int64
 1   Administrative_Duration  12330 non-null  float64
 2   Informational            12330 non-null  int64
 3   Informational_Duration   12330 non-null  float64
 4   ProductRelated           12330 non-null  int64
 5   ProductRelated_Duration  12330 non-null  int64
 6   BounceRates              12330 non-null  float64
 7   ExitRates                12330 non-null  float64
 8   PageValues               12330 non-null  float64
 9   SpecialDay               12330 non-null  float64
 10  Month                    12330 non-null  object
 11  OperatingSystems         12330 non-null  int64
 12  Browser                  12330 non-null  int64
 13  Region                   12330 non-null  int64
 14  TrafficType              12330 non-null  int64
 15  VisitorType              12330 non-null  object
 16  Weekend                  12330 non-null  bool
 17  Revenue                  12330 non-null  bool
dtypes: bool(2), float64(6), int64(8), object(2)
memory usage: 1.5+ MB